Flask==2.3.3
nltk==3.7
numpy==1.22.3
pandas==1.4.3
torch==2.4.1
tqdm==4.64.0
transformers==4.40.2
wget==3.2
requests==2.31.0
diffusers==0.30.3
peft==0.13.0
bitsandbytes
sentencepiece
protobuf
gdown==5.2.0
